@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff") format('woff'),
		url("../fonts/Roboto.woff2") format("woff2");
		font-weight: 400;
    font-style: normal;
} /*Сделать как выше*/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomedium.woff") format("woff"),
		url("../fonts/Robotomedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
		src: url("../fonts/Robotobold.woff") format("woff"),
		url("../fonts/Robotobold.woff2") format("woff2");
		font-weight: 700;
    font-style: normal;
}

  body {
		font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Roboto"; /*??? нужно ли здесь оставлять шрифт?*/

		background-color: #849d8f; /*для слайдера*/
		}
  .wrapper {position: relative;}

  .container {
  	width: 1200px;
  	padding-left: 27px;
  	padding-right: 27px;
  	margin: 0 auto;
  	}

  /*------------------------header---------------------------*/


  .header-page {
  }

  .header-page-inner {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	margin-bottom: 24px;
  }

  .header-logo {
  	width: 154px;
  	height: 64px;
    margin-top: 9px;
  	}

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    width: 396px;
  }

  .menu-item {
    display: inline-block;
    vertical-align: top;
  	position: relative;
    margin-right: 6px;
  }

  .menu-item:hover .menu-link {
    background-color: #f7f6f3;
    border-radius: 15px;
    color: #000000;
  }

  .menu-link,
  .hide-link{
    display: block;
    color: white;
    font-family: "Roboto";
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 14px;
    border-radius: 15px;
    text-decoration: underline rgba(255,255,255,0.3);
  }

  .first {
    border-bottom: 1px solid #d1d0ce;
  }

  .hide-link {
    color: black;
    text-decoration: none;
  }


  .menu-link:hover {
  	background: #f7f6f3;
  }

  .menu-link:active {
  }

  /*.menu-item--active .menu-link {
  	background-color: #d07058;
  }*/


  .menu-hide {
  	display: none;
  	position: absolute;
  	top: 37px;
    left: -16px;
  	width: 143px;
  	background-color: #f8f7f4;
  	border-radius: 5px;
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  }

  .menu-hide ul {
  	margin: 0;
  	padding: 0;
  }

  .menu-hide .hide-item {
  	margin-right: 0;
  	margin-bottom: 4px;
  	padding: 8px 0 7px 20px;
    list-style: none;
  }

  .hide-item:hover {
  	background-color: #fbded7;
  }
  .hide-item:active {
  	background-color: #f6b5a5;
  }

  .menu-hide .hide-item a {
  	color: #323232;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  }

  .menu-hide .catalog-active a{
  	color: #fff;
  }

  .hide-item:first-child a {
  	font-weight: 700;
  }

  .menu-item:hover .menu-hide {
  	display: block;
  }

  .catalog:hover ~ .menu-item {
  	margin-top: 13px;
  }

  .header-nav li {
    margin-right: 29px;
    }
  .header-nav li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header-actions {
    margin-left: auto;
  	}

  .header-actions-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
  }

  .header-actions-list li {
    margin-right:10px;
  }
  /*------------------------Поиск---------------------------*/

  .label-serching {
    display: none;
  }

  .header-actions-item {
    position: relative;
  }

  .header-actions-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    top: -6px;
    left: -30px;
  }

  .actions-searching::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/icon-find.png") no-repeat;
  color: rgba(255, 255, 255, 1);
  }

  .header-actions-icon:hover {
    background: #ffffff;
  }

  .actions-searching:hover::before {
    background: transparent url("../img/icon-find-hover.png") no-repeat;
  }

  .search-form {
	display: none;
	position: absolute;
	top: 45px;
	right: 0;
	width: 340px;
	box-sizing: border-box;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"] {
	padding: 13px 15px;
	width: 100%;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
	outline: none;
}

.search-form input[type="search"]:hover {
	border: 2px solid #c7c6c5;
	padding: 12px 14px;
}

.search-form input[type="search"]:focus {
	outline: none;
	border-radius: 3px;
	border: 2px solid #8fbdec;
	padding: 12px 14px;
}

.search-form label {
	display: block;
	position: absolute;
	color: #b2b2b2;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	top: 31px;
  left: 30px;
}

  .search-form input[type="search"]:focus + label {
	  top: 5px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
}

  /*------------------------Логин---------------------------*/

  .actions-enter {
    padding: 5px 15px 5px 44px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 93px;
    height: 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .actions-enter::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: transparent url("../img/icon-enter.png") no-repeat;
  color: rgba(255, 255, 255, 1);
  }

  .actions-enter:hover {
    background: #ffffff;
    color: #000000;
  }
  .actions-enter:hover::before {
    background: transparent url("../img/icon-enter-hover.png") no-repeat;
  }

  /*------------------------скрытый блок login----------------*/

  .enter-wrap { /*???почему он не показывается!?!?!??!?!*/
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    width: 277px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 17px 20px 19px;
    z-index: 100;
  }

  .enter-form {
    position: relative;
  }

  .enter-form input[type="text"],
  .enter-form input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
  }

  .enter-form label {
    position: absolute;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .enter-form label[for="name"] {
    top: 10px;
    left: 15px;
  }

  .enter-form label[for="pass"] {
    top: 73px;
    left: 15px;
  }

  .enter-form input[type="text"]:focus + label {
    top: -15px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .enter-form input[type="password"]:focus + label {
    top: 48px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .enter-form input[type="text"]:hover,
  .enter-form input[type="password"]:hover {
    border: 2px solid #c7c6c5;
    padding: 12px 14px;
  }

  .enter-form input[type="text"]:focus,
  .enter-form input[type="password"]:focus {
    outline: none;
    border-radius: 3px;
    border: 2px solid #8fbdec;
    padding: 12px 14px;
  }

  .register-block {
    display: flex;
    justify-content: space-between;
  }

  .right-block a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    color: #323232;
    font-size: 13px;
    line-height: 24px;
  }

  .right-block a:hover,
  .right-block a:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232,77,55,0.3);
  }

  .enter-form input[type="submit"] {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px 23px;
    margin-right: 20px;
    cursor: pointer;
  }

  .header-actions-link {
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    position: relative;
    margin-left: 10px;
    padding: 8px 17px 8px 43px;
  }

/*------------------------корзина---------------------------*/

  .actions-basket {
    padding: 5px 34px 5px 44px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    height: 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-right: -10px; /*??? откуда отступ тут? +1px?*/
  }

  .actions-basket::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: transparent url("../img/icon-basket.png") no-repeat;
  }

  .actions-basket:hover {
    background: #ffffff;
    color: #000000;
  }
  .actions-basket:hover::before {
    background: transparent url("../img/icon-basket-hover.png") no-repeat;
  }

/*------------------------Адрес---------------------------*/

  .header-contacts {
    margin-left: auto;
    text-align: right;
    color: #ffffff;
  }
  .header-contacts a {
    display: block;
    text-decoration: none;
    color: #ffffff;
  }

  /*------------------------Слайдер---------------------------*/

  body > input[type="radio"] { /*прячем верхнюю панель переключателя слайдера*/
  	display: none;
  }

  .wrapper {
  	min-width: 940px;
  	min-height: 950px; /*для демо*/
  	background-color: #849d8f;
  	background-image: url("../img/slidergreen.png");
  	background-repeat: no-repeat;
  	background-position: top center;

  	/*??? transition: background-image 0.5s ease,   не работает!!!
  							background-color: 0.5s ease;*/
  }

  .wrapper::before,
  .wrapper::after {
  	content "";
  	visibility: hidden;
  }/*псевдоэлементы нужны для предзагрузки картинок 2 и 3 слайдера,
   что бы они были в кэше*/

  .wrapper::before,
  .wrapper::after {
  	background-image: url("../img/sliderblue.png");
  }

  .wrapper::before,
  .wrapper::after {
  	background-image: url("../img/sliderred.png");
  }

  .slider {
  	position: relative;
  	padding-top: 270px;
  	text-align: center;
  	color: #ffffff;
  }

  .slide {
  	display: none;
  }

  .slide-title {
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 30px;
  	font-weight: 800;
  	font-size: 60px;
  }

  .slide-btn {
  	display: inline-block;
  	padding: 12px 50px;

  	font-weight: 600;
  	font-size: 31px;
  	line-height: 41px;
  	vertical-align: top;
  	color: #ffffff;
  	text-decoration: none;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  	background: #f26843;
  	background:  -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  }

  .slide-btn:hover {
  	background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background:  -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background:  linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

  .slide-btn:active {
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
    box-shadow: inset 0px 2px 2px 0px #942718;
  }

  .slider-controls {
  	position: absolute;
  	bottom: 25px;
  	left: 0;
  	z-index: 20;
  	font-size: 0;
  }

  .slider-controls label {
  	display: inline-block;
  	width: 17px;
  	height: 17px;
  	margin-right: 8px;

  	vertical-align: top;

  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer; /*изменение курсора при наведении*/
  }

  #btn-1:checked ~ .wrapper #slide1, /*если нажимаем radio-btn-1, то внутри
  .site-wrapper элемент с индификатором #slide1 становится display: block*/
  #btn-2:checked ~ .wrapper #slide2,
  #btn-3:checked ~ .wrapper #slide3 {
  	display: block;
  }

  #btn-1:checked ~ .wrapper {
  	background-color: #849d8f;
  	background-image: url("../img/slider-green.png");
    background-repeat: no-repeat;
  }

  #btn-2:checked ~ .wrapper {
  	background-color: #8996a6;
  	background-image: url("../img/slider-blue.png");
    background-repeat: no-repeat;
  }

  #btn-3:checked ~ .wrapper {
  	background-color: #9d8b84;
  	background-image: url("../img/slider-red.png");
    background-repeat: no-repeat;
  }

  #btn-1:checked ~ .wrapper label[for="btn-1"], /*если нажимаем radio-btn-1, то внутри
  .site-wrapper label для кнопки такой-то заливается #ffffff цветом*/
  #btn-2:checked ~ .wrapper label[for="btn-2"],
  #btn-3:checked ~ .wrapper label[for="btn-3"] {
  	background-color: #ffffff;
  }

  /*------------------------main---------------------------*/

  /*------------------------2 большие карточки---------------------------*/
  .features {
    margin-bottom: 40px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features-item {
    width: 560px;
    height: 230px;
    display: flex;
    flex-direction: column;
  }

  .features-title,
  .features-text {
    margin: 20px;
  }

  .features-item:first-child {
    background-color: #80212d;
    background-image: url("../img/raspberry background.jpg");
    background-size: 560px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
  }

  .features-item:last-child {
    background-color: #3f261b;
    background-image: url("../img/chocolate background.jpg");
    background-size: 560px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
  }

  .features-button {
    margin-right: 21px;
    margin-bottom: 21px;
    align-self: flex-end;

    display: inline-block;
  	padding: 12px 50px;

    font-weight: 400;
  	font-size: 18px;
  	line-height: 24px;
  	vertical-align: top;
  	color: #ffffff;
  	text-decoration: none; /*???*/
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border-radius: 100px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    }

  .features-button:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .features-button:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
  /*------------------------4 карточки хита---------------------------*/

  .goods {
    margin-bottom: 38px;
  }

  .goods-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-item {
    position: relative;
    padding: 6px 13px 22px 13px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 293px;
    margin-bottom: -41px;
  }

  .goods-item::before {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/hit.png") no-repeat;
    width: 61px;
    height: 61px;
    top: 8px;
    left: 12px;
    z-index: 100;
  }

  .goods-price {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    line-height: 45px;
    padding-left: 0;
  }

  .goods-pay {
    position: absolute;
    font-size: 45px;
    line-height: 45px;
    bottom: 10px;
    left:10px;
  }

  .goods-weight {
    position: absolute;
    font-size: 30px;
    line-height: 45px;
    bottom: 4px;
    left: 90px;
  }

  .goods-item-link {
    color: white;
  }

  .goods-item-name {
    margin-top: 0px;
  }

  .goods-item-btn {
    display: inline-block;
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius: 16px;
    padding: 10px 16px;
    text-align: center;
  }

  .goods-item:hover .goods-item-btn {
  	visibility: visible;
  }

  .goods-item:hover {
  	background-color: rgba(255,255,255,0.2);
  	z-index: 100;
  }

  .goods-item-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .goods-item-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
  /*------------------------О компании---------------------------*/

  .about {
    box-sizing: border-box;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
  }

  .about-background {
    background-color: #eadcbe;
    border-radius: 15px;
    background: url("../img/waffel.jpg") repeat;
    padding: 24px 20px;
  }

  .about-head {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 22px;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-list-item {
    position: relative;
    box-sizing: border-box;
    padding-left: 56px;
    width: 560px;
    margin-bottom: -30px;
  }

  .about-list-item:nth-child(1)::before {
    background-image: url("../img/icon-ice.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 0px;
    left: 0px;
  }

  .about-list-item:nth-child(2)::before {
    background-image: url("../img/icon-cow.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 0px;
    left: 0px;
  }

  .about-list-item:nth-child(3)::before {
    background-image: url("../img/icon-leaf.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 0px;
    left: 0px;
  }

  .about-list-item:nth-child(4)::before {
    background-image: url("../img/icon-thermometer.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 0px;
    left: 0px;
  }





  /*------------------------2 большие карточки---------------------------*/

	.conversation{
		margin-bottom: 40px;
	}

	.conversation-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

  .conversation-blog {/*исправить на padding и margin*/
    width: 560px; /*??? как сделать правильно картинку?*/
    height: 230px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("../img/strawberry background.jpg");
    background-position-x: -35px;
    background-position-y: -200px;
    background-size: 150%;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
  }

  .conversation-blog-content {
    width: 285px;
    margin: 0 20px;
  }

  .conversation-blog a {/* ??? исправить на padding и margin*/
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color:  rgba(0, 0, 0, 1);
  }


  .conversation-blog-head {
    margin: 20px 20px 2px 20px;
  }

	.conversation-mail {
    box-sizing: border-box;
    width: 560px;
    background: #f8f7f4;
    background-image: url("../img/pattern-mail.png");
    border-radius: 10px;
    padding: 6px;
  }
  .conversation-mail-inner {
    background: #f8f7f4;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    padding-bottom: 38px;
    border-radius: 10px;
  }

  .conversation-text {
    margin: 0;
    padding: 0;
    padding: 30px 20px 0;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 35px;
  }

  .conversation-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

  }

  .conversation-form-group-one /*почему не вмещается?*/ {
    box-sizing: border-box;
    width: 368px;
    margin-right: 10px;
  }

    .conversation-form-group-one input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    padding: 0 14px;
    height: 44px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
  }

  .conversation-form-group-two {
    align-self: baseline;
  }
  .conversation-btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font font-family: "Roboto";
    font-weight: 700;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: 0;
  }

  .conversation-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .conversation-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }

  /*------------------------Карта---------------------------*/

	.contacts {
		position: relative;
		}

	.contacts-map {
		background-image: url("../img/map.jpg");
		height: 430px;
		margin-bottom: 37px;
		background-repeat: no-repeat;
		background-position: center; /*поставить в % фоны в академии!!*/
		background-color: #f6f0d7;
		background-size: cover;
	}
	.contacts-block {
    position: absolute;
    right: 27px;
    top: 63px;
    width: 302px;
    border-radius: 10px;
    background-color: white;
    color: #323232;
    padding: 28px 10px 10px 25px;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    min-height: 305px;
		z-index: 10;
	}
  .contacts-title {
    display: block;
  }

  .contacts-adress {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding-right: 40px;
    margin-bottom: 21px;
  }

  .contacts-info-order {
    display: block;
  }

  .contacts-info-tell {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding-right: 40px;
    text-decoration: none;
    color: #000000;
  }

  .contacts-info-work {
    display: block;
    margin-bottom: 25px;
  }

  .contacs-btn {
    display: block;
    padding: 10px 27px;
    font-weight: 700;
  	font-size: 18px;
  	line-height: 24px;
  	color: #ffffff;
  	text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border-radius: 100px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  }

  .contacs-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .contacs-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }



	/*----------------------------Паодвал----------------------------------------*/

	.footer-page-inner {
		display: flex;
	  flex-direction: row;
	  justify-content: space-between;
		flex-wrap: wrap;
    margin-bottom: 24px;
	}

	.footer-social {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 268px;
		height: 50px;
	}

	.social-link {
		margin-right: 11px;
		display: block;
		text-decoration: none;
		box-sizing: border-box;
		width: 38px;
		height: 38px;
		background-color: transparent;
		opacity: 0.8;/*узнать какого хе*/
		font-size: 0;
		border-radius: 50%;
		border: 2px solid rgba(153, 153, 153, 0.5);
	}

	.social-link:hover {
		border: 3px solid rgba(255, 255, 255, 0.7);
		opacity: 1;
	}

	.social-link:active {
		border-radius: 50%;
	  background-color: rgba(255, 255, 255, 0);
	  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
	}

	.social-link-tw {
		background-image: url("../img/icon-tw.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-vk {
		background-image: url("../img/icon-vk.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-fb {
		background-image: url("../img/icon-fb.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-in {
		background-image: url("../img/icon-in.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}


	.footer-links { /*??? почему не отображается шрифт?*/
    list-style: none;
    height: 40px;
    width: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    margin: 0;
    padding: 0;
	}

  .footer-links::before{
  background-image: url("../img/icon-heart.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  display: block;
  z-index: 100;
  top: 5px;
  left: -22px;
  }

	.footer-links li {
		margin-right: 33px;
    text-decoration: none;
	}

  .footer-links a {
    color: white;
  }

	.footer-copyright {
		margin-top: -19px;
		margin-right: 0;
    color: white;
		/*height: 65px;
		width: 190px;*/
	}

  .footer-copyright a {
    color: white;
  }

/*------------------Форма--------------------------------------*/

.contact-us {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 477px;
	padding: 20px 25px 25px 24px;
	background-color: #f8f7f4;
	border-radius: 5px;
	color: #323232;
	z-index: 200;
}

.close-btn {
	position: absolute;
	display: block;
	width: 18px;
	height: 17px;
	background: url(../img/cross.png) no-repeat 50% 50%;
	right: 20px;
	top: 25px;
	cursor: pointer;
	outline: none;
	border: none;


/*------------------------------------------------------------*/

																							/*Фильтры*/
.filters-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.group-filters {
	height: 37px; /*временно */
	margin-top: 11px;
	margin-bottom: 8px;
}

/*-----------------------------сортировка*/
.filters-sort {
	min-width: 195px;
	height:59px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.sort-field {
	height: 37px;
	margin-left: 17px;
}

.sort-window {
	width: 100%;
	height: 37px;
}
/*-----------------------------цена*/
.filters-cost {
	width: 219px;
	height:59px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.cost-field {
	height: 17px;
	margin-left: 25px;
}

/*-----------------------------Жирность*/
.filters-fat {
	width: 415px; /*потом убрать*/
	margin-bottom: 16px;
}/*как сделать что бы критерии были ниже? align-items не проходит к их классам*/

.group-list {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-start;
 align-items: center;
}

.filters-fat-name {
	}

/*-----------------------------Наполнители*/
.filters-filler {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	min-width: 702px;
	margin-bottom: 16px;
	position: relative;
}/*как сделать что бы критерии были ниже? align-items не проходит к их классам*/

.filters-filler-name {
	position: absolute;
	top:-15px;
}

.filters-btn { /*как сделать её по центру?*/
	width: 145;
	height: 37px;
	margin-left: 15px;
}
/*----------------------------Pagination---------------------------*/


.pagination {} /* думаю тут надо сделать div, прикрепить его в низ main и
	задать ему relative. А пагинацию в него обернуть. и привязать в нижний
	правый угол через position.	*/

  /*------------------------breadcrumbs---------------------------*/



/*-----------------------------------------------------------------*/
  .breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }



















/*c*/
