body {
		font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-family: "roboto regular" ;

		background-color: #849d8f; /*для слайдера*/

		}

.container {
	max-width: 1200px;
	padding-left: 27px;
	padding-right: 27px;
	margin: 0 auto;
	}

/*флексы*/
.header-page {

}

.header-page-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 24px;
}

.header-logo {
	width: 154px;
	height: 64px;
	margin-right: 10px;
	}
.header-actions {
	width: 267px;
	position: relative; /*сделал, для отправной точки крепежа контактов*/
	}

.header-nav {
	width: 400px;
	max-width: 650px;
	margin-right: 26px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.header-contacts {
	position: absolute;
	top:auto;
	left:auto;

}
																							/*Фильтры*/
.filters {}

.group-filters {
	height: 37px;
	width: auto;
	margin-top: 11px;
	margin-bottom: 8px;
}

.filters-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
/*-----------------------------сортировка*/
.filters-sort {
	min-width: 195px;
	height:59px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.sort-field {
	height: 37px;
	margin-left: 17px;
}

.sort-window {
	width: 100%;
	height: 37px;
}
/*-----------------------------цена*/
.filters-cost {
	width: 219px;
	height:59px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.cost-field {
	height: 17px;
	margin-left: 25px;
}

/*-----------------------------Жирность*/
.filters-fat {
	display: flex;
	flex-direction: row;
	min-width: 415px;
	margin-bottom: 16px;
	position: relative;
}/*как сделать что бы критерии были ниже? align-items не проходит к их классам*/

.filters-fat-name{
	position: absolute;
	top:-15px;
	}

/*-----------------------------Наполнители*/
.filters-filler {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	min-width: 702px;
	margin-bottom: 16px;
	position: relative;
}/*как сделать что бы критерии были ниже? align-items не проходит к их классам*/

.filters-filler-name {
	position: absolute;
	top:-15px;
}

.filters-btn { /*как сделать её по центру?*/
	width: 145;
	height: 37px;
	margin-left: 15px;
}
/*----------------------------12 больших карточек*/
.goods-list {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.goods-item {
	height: 322px;
	width: 267px;
	margin-top: 41px;
	position: relative;
}

.goods-pay {
	position: absolute;
	bottom: 100px;
}

.goods-weight {
	position: absolute;
	bottom: 100px;
	left: 30px;
}

.signature {
	position: absolute;
	bottom: -30px;
} /* я сделаль подпись тоже div'ом. и спозиционировал его.*/

.pagination {} /* думаю тут надо сделать div, прикрепить его в низ main и
	задать ему relative. А пагинацию в него обернуть. и привязать в нижний
	правый угол через position.	*/







/*----------------------------Паодвал----------------------------------------*/

.footer-page-inner {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social {
	display: flex;
	align-items: center;
}

.social-btn {
	margin-right: 23px;
}

.footer-links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 560px;
	padding-left: 100px;
	padding-right: 100px;
}

.footer-links li {
	margin-right: 33px;
}

.footer-copyright {
	min-height: 65px;
	min-width: 190px;
}


/*тут будет слайдер О_о */

body > input[type="radio"] { /*прячем верхнюю панель переключателя слайдера*/
	display: none;
}

.site-wrapper {
	min-width: 940px;
	min-height: 950px; /*для демо*/
	background-color: #849d8f;
	background-image: url("../img/slidergreen.png");
	background-repeat: no-repeat;
	background-position: top center;

	/*transition: background-image 0.5s ease,   не работает!!!
							background-color: 0.5s ease;*/
}

/*псевдоэлементы нужны для предзагрузки картинок 2 и 3 слайдера,
 что бы они были в кэше*/

.site-wrapper::before,
.site-wrapper::after {
	content "";
	visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
	background-image: url("../img/sliderblue.png");
}

.site-wrapper::before,
.site-wrapper::after {
	background-image: url("../img/sliderred.png");
}

.content-wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 60px;
}

.slide-btn {
	display: inline-block;
	padding: 12px 50px;

	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none; /*???*/
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:  -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
	background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:  -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:  linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
	background:  -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:  -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:  linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer; /*изменение курсора при наведении*/
}

#btn-1:checked ~ .site-wrapper #slide1, /*если нажимаем radio-btn-1, то внутри
.site-wrapper элемент с индификатором #slide1 становится display: block*/
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-green.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-blue.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-red.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"], /*если нажимаем radio-btn-1, то внутри
.site-wrapper label для кнопки такой-то заливается #ffffff цветом*/
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}













/*c*/
